﻿@using Microsoft.AspNetCore.Identity;
@using SkyNet.Core.DTOs.User;
@using SkyNet.Core.Entities.User;
@model UpdateUserPasswordDTO;

﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User managament</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Create user</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Create user</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 offset-3">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">New user</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                @if (@ViewBag.UpdateCreateError != null)
                                {
                                    <span class="text-danger mt-3 ml-3">@ViewBag.UpdateCreateError</span>
                                }
                                <form method="post" asp-action="Edit" asp-controller="DashBoard">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">First name</label>
                                            <input type="text" class="form-control" name="FirstName" id="InputFirstName" placeholder="First Name" asp-for="@Model.FirstName">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Last name</label>
                                            <input type="text" class="form-control" name="LastName" id="InputLastName" placeholder="Last Name" asp-for="@Model.LastName">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" name="Email" id="InputEmail1" placeholder="Enter email" asp-for="@Model.Email">
                                        </div>
                                        <div class="form-group">
                                            <label>Role</label>
                                            <select class="form-control select2" name="Role" style="width: 100%;" id="InputRole" asp-for="@Model.Role">
                                                @foreach (var _user in ViewBag.RoleList)
                                                {
                                                    <option>@_user</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>