﻿@using Microsoft.AspNetCore.Identity;
@using SkyNet.Core.DTOs.User;
@using SkyNet.Core.Entities.User;
@model List<UsersDTO>
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var email = await UserManager.GetEmailAsync(user);
}
@{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All users</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">User list with minimal information</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Email</th>
                                        <th>Email confirmed</th>
                                        <th>Lockout</th>
                                        <th>Role</th>
                                        @if (@User.IsInRole("Administrator"))
                                        {
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var _user in Model)
                                    {
                                        <tr>
                                            <td>@_user.FirstName</td>
                                            <td>@_user.LastName</td>
                                            <td>@_user.Email</td>
                                            <td>@_user.EmailConfirmed</td>
                                            <td>@_user.LockedOut</td>
                                            <td> @_user.Role</td>
                                            @if (@User.IsInRole("Administrator") && _user.Email != email)
                                            {
                                                <td><a asp-controller="Dashboard" asp-action="Edit" asp-route-id="@_user.ID" class="btn btn-block btn-warning btn-sm" style="color:white">Edit</a></td>

                                                <td>
                                                    <form id="deleteForm" asp-controller="Dashboard" asp-action="Delete" method="post">
                                                        <input type="hidden" name="ID" value="@_user.ID" />
                                                    </form>
                                                    <a href="javascript:void(0);" onclick="deleteConfirmation();" class="btn btn-block btn-danger btn-sm" style="text-decoration: none;">Delete</a>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>
<!-- /.content -->
<script>
    function deleteConfirmation() {
        var confirmed = confirm("Are you sure you want to delete this user?");
        if (confirmed) {
        document.getElementById("deleteForm").submit();
        }
    }
</script>